.maincities {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.city-button {
  color: white;
  font-size: 1.3rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 20px 0;
}

.city-button:hover {
  scale: 1.1;
}
