/* Main details section */
.details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25%; /* Spacing between elements */
  color: white;
  font-weight: bold;
  margin-left: 4%;
}

/* Temperature display */
.temperature {
  color: white;
  font-size: 3rem;
}

/* Extra details section */
.extra-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

/* Individual weather details */
.detail {
  display: flex;
  align-items: center;
}

/* Weather detail icons */
.icon {
  color: white;
  margin-right: 4px;
}

/* Value of weather details */
.value {
  color: white;
  font-weight: bold;
  margin-left: 10px;
}

/* Main weather conditions section */
.main-conditions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  gap: 2rem;
}

/* Individual weather conditions */
.condition {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  margin-right: 10px;
}

/* Time display */
.time {
  color: white;
  margin-left: 4px;
}

/* Special weather conditions */
.special {
  border-left: 2px solid white;
  padding-left: 7%;
  padding-right: 3%;
}

/* Time-location container */
.timloc {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  margin-top: 24px;
}

/* Time display within time-location container */
.time {
  color: white;
  font-size: 1.6rem;
}

/* Country display within time-location container */
.country {
  color: white;
  font-size: 2.4rem;
}
