@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Space Mono", monospace;
}

.search {
  width: 500px;
}
.sunny {
  display: flex;
  padding-top: 100px;
  height: 100vh;
  gap: 6rem;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/public/sunny.jpg) center/cover fixed no-repeat;
}
.cold {
  display: flex;
  padding-top: 100px;
  height: 100vh;
  gap: 6rem;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/public/cold.jpg) center/cover fixed no-repeat;
}
body {
  background-size: cover;
}
.maindet {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.time {
  white-space: nowrap;
}
@media (max-width: 500px) {
  * {
    margin: 0;
    padding: 0;
  }
  .maincities {
    gap: 20px;
  }
  .maindet {
    margin-top: -20px;
  }
  .search {
    margin-top: 20px;
    margin-left: 80px;
    width: 300px;
  }
  .sicon {
    margin-top: 20px;
  }
  .location {
    visibility: hidden;
  }
  .metrics {
    visibility: hidden;
  }
  .country {
    font-size: 20px;
  }
  .wicon {
    display: flex;
    width: 90px;
    margin-left: -60px;
  }
  .temp {
    display: flex;
    font-size: 35px;
  }
  .details {
    font-size: 20px;
  }
  .result {
    font-size: 20px;
  }
  .extra {
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
  }
  .desp {
    margin-top: -10px;
  }
  .time {
    font-size: 15px;
  }
  .sep {
    font-size: 55px;
    padding-left: 20px;
  }
  .maincon {
    margin-top: 30px;
  }
}
